<form class="form-page" (submit)="onSubmit()">
  <fieldset class="form-field">
    <legend class="legend">Security Questions</legend>
    <a class="back" routerLink=""
      ><img src="https://www.svgrepo.com/show/317810/actions-close-simple.svg"
    /></a>

    <div class="frm">
      <table>
        <tr class="row">
          <td class="lbl">
            <label class="label"
              >What was your favourite subject in high school?</label
            >
          </td>
          <td>
            <input
              required
              class="fld"
              [(ngModel)]="first"
              id="name"
              type="text"
            />
          </td>
        </tr>
        <tr class="row">
          <td class="lbl">
            <label class="label"
              >Where did you go on your favourite vacation as a child?</label
            >
          </td>
          <td>
            <input
              required
              class="fld"
              [(ngModel)]="second"
              id="email"
              type="text"
            />
          </td>
        </tr>
        <tr class="row">
          <td class="lbl">
            <label class="label">What is the name of your first pet?</label>
          </td>
          <td>
            <input
              required
              class="fld"
              [(ngModel)]="third"
              id="dob"
              type="text"
            />
          </td>
        </tr>

        <tr class="row">
          <td class="lbl">
            <label class="label"
              >What is the first name of your best friend?</label
            >
          </td>
          <td>
            <input
              required
              class="fld"
              [(ngModel)]="fourth"
              id="addr"
              type="text"
            />
          </td>
        </tr>
      </table>
      <input
        (click)="onSubmit()"
        type="submit"
        routerLink="/setnewpassword"
        class="form-button"
      />
    </div>
    <div class="popup" *ngIf="toggleStatus == true">
      <app-modal [toggleStatus]="Toggle" [error]="message"></app-modal>
    </div>
  </fieldset>
</form>
